.kehaiquote{

color:red;

}
.barchart text {
	fill: black;
	font: 16px sans-serif;
	text-anchor: middle; 
}

table tbody{
    color:blue;
}

svg{
	border: medium solid black;
}
.pillar{
	stroke: green;
}
